{% extends 'base.html' %}
{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% block title %}
    <title>
        List Report
    </title>
    {% endblock %}
    {% block extrajs %}
      <script src="{% static 'js/delete_report.js' %}"></script>
      <script src="{% static 'js/list_report.js' %}"></script>
    {% endblock %}
</head>
<body>
{% block content %}
<div class="container-fluid">
    <table class='custom-form'>
<tr>
    {% for field in form %}
        <td><b>{{field.label}}:</b></td>
        <td>{{ field }}</td>
    {% endfor %}
</tr>
</table>
<br><br>
<div id="list-report-display">

</div>
</div>
{% endblock %}
</body>
</html>
