Hi {{user}},<br>
You will glad to know that due to your potential and previous work record, you have been selected as a team member in official team of project under CSIOM. Details of project are as below:<br><br>

<b>Title</b>:{{title}}<br>
<b>Manager</b>:{{manager}}<br>
<b>Summary</b>:{{summary}}<br>
for more information, click <a href='{{domain}}/options/?project={{project_id}}'>here</a>.<br><br>

Hope that you'll enjoy working with {{manager}}.<br><br>

Best Wishes,<br>
Team@CSIOM<br><br>


<b>Note</b>: This is an automatic computer generated mail. No need to reply this.